In [1]:
import numpy as np
import pandas as pd

In [2]:
Education = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Education.csv')
Energy = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Energy.csv')
Food = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Food.csv')
Household = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Household.csv')
Member = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Member.csv')
Nonfood = pd.read_csv('UNHCR-KEN-2018-SEA-Kalobeyei-Nonfood.csv')

In [3]:
Energy['s12q20'].value_counts()

No            1092
Don't Know       8
Name: s12q20, dtype: int64

In [4]:
Educ_Energy_merge = pd.merge(Education,Energy,how='inner',on='hhid')

In [5]:
Educ_Energy_Food_merge =  pd.merge(Educ_Energy_merge,Food,how='inner',on='hhid')

In [6]:
Educ_Energy_Food__HH_merge = pd.merge(Educ_Energy_Food_merge,Household,how='inner',on='hhid')

In [7]:
Educ_Energy_Food__HH_Member_merge = pd.merge(Educ_Energy_Food__HH_merge,Member,how='inner',on='hhid')

In [8]:
All_merge = pd.merge(Educ_Energy_Food__HH_Member_merge,Nonfood,how='inner',on='hhid')

In [10]:
All_merge.head(5)

,hhid,s1q2_x,s4q10,s4q11,s4q12,s4q13,s4q14,s4q15,s4q16,s4q17,...,mod_opt_y,item_name_y,g_recall,s12q9,s12q10,s12q11,nfcons_value,nfcons_value_capita,weight_y,popweight_y
0,10,Village 1,0.0,0.0,2400.0,0.0,6000.0,3000.0,2000.000061,0.0,...,core,MEN'S TROUSERS,3 months,Yes,38.8889,Yes,38.88889,7.777778,5.557168,27.78584
1,10,Village 1,0.0,0.0,2400.0,0.0,6000.0,3000.0,2000.000061,0.0,...,core,WOMEN'S RUBBER SANDALS/SLIPPERS,3 months,Yes,23.3333,Yes,23.33333,4.666667,5.557168,27.78584
2,10,Village 1,0.0,0.0,2400.0,0.0,6000.0,3000.0,2000.000061,0.0,...,option 1,MEN'S RUBBER SANDALS/SLIPPERS,3 months,Yes,23.3333,Yes,23.33333,4.666667,5.557168,27.78584
3,10,Village 1,0.0,0.0,2400.0,0.0,6000.0,3000.0,2000.000061,0.0,...,core,BOY'S TROUSERS/SHORTS,3 months,Yes,23.3333,Yes,23.33333,4.666667,5.557168,27.78584
4,10,Village 1,0.0,0.0,2400.0,0.0,6000.0,3000.0,2000.000061,0.0,...,core,WATER- WATER SERVICE PROVIDER,1 month,No,NaN,Yes,0.00000,0.000000,5.557168,27.78584