In [1]:
import numpy as np
import pandas as pd

In [2]:
Member = pd.read_csv('~/Box Sync/KenyaPovertyTargetingModel/1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Member.csv')
Nonfood = pd.read_csv('~/Box Sync/KenyaPovertyTargetingModel/1data/KSPS/UNHCR-KEN-2018-SEA-Kalobeyei-Nonfood.csv')

In [3]:
# TODO:
# find out what the "Consumption module for household" means for variables hhmod and mod_opt

In [4]:
# Nonfood cleaning
Nonfood = Nonfood.rename(columns={"s1q2":"hhlocation", 
                        "s12q9":"purchased", 
                        "s12q10": "cost",
                        "s12q11": "gift"})

Nonfood = Nonfood.drop(['weight','g_recall','nfcons_value','nfcons_value_capita','popweight'], axis=1)

In [5]:
# Member cleaning
Member = Member.rename(columns={"s1q2":"hhlocation",
                                "s1q5":"interviewConsent",
                                "s2q7a":"hhHead",
                                "s2q8":"mainRespondent",
                                "s2q18":"mainHead",
                                "s2q11":"gender",
                                "s2q12":"ageRange",
                                "s2q13":"countryOfOrigin",
                                "s4q1":"anyEducation",
                                "s4q2":"currentlyInSchool",
                                "s4q3":"currentGrade",
                                "s4q4":"highestEducation",
                                "s4q5":"speaks",
                                "s4q6":"reads",
                                "s4q7":"writes",
                                "s4q8":"usesTech",
                                "s4q9":"drives",
                                "s5q1":"employee",
                                "s5q2":"employer",
                                "s5q3":"farmWorker",
                                "s5q4":"farmHelper",
                                "s5q5":"apprentice",
                                "s5q6":"volunteer",
                                "s5q15":"lookedForJob4weeks",
                                "s5q16":"lookedForJob12months",
                                "s5q20":"occupationStatus",
                                "s5q21":"monthsLookingForWork",
                                "s5q24":"numberOfIncomeActivities7days",
                                "s9q2":"DifficultSeeing",
                                "s9q2_a":"glasses",
                                "s9q3":"DifficultHearing",
                                "s9q3_a":"hearingAid",
                                "s9q4":"difficultWalking",
                                "s9q5":"difficultMemory",
                                "s9q6":"difficultSelfCare",
                                "s9q7":"difficultCommunicate"})


Member = Member.drop(['weight',
# s5q7-14 ask about absenteeism at work
's5q7','s5q8','s5q9','s5q10','s5q11','s5q12','s5q13_1','s5q13_2','s5q13_3','s5q14','s5q14_b',
# s5q17-19 asks about what steps were taken in subject's job search
's5q17','s5q18','s5q19',
# s5q22 "How soon would he/she be able to start work if offered one"                 
's5q22',
# s5q23 is covered in s5q20
's5q23',
's5q25'
                      
                      
                      
], axis=1)

Member

,ind_unique,hhid,indid,hhlocation,interviewConsent,hhHead,mainRespondent,mainHead,gender,ageRange,...,speak_swahili,speak_other,read_arabic,read_english,read_swahili,read_other,write_arabic,write_english,write_swahili,write_other
0,1001,10,1,Village 1,Yes,Yes,Yes,Yes,Female,35 to 39,...,NaN,yes,yes,NaN,NaN,NaN,yes,NaN,NaN,NaN
1,1002,10,2,Village 1,Yes,No,No,No,Female,10 to 14,...,NaN,yes,NaN,yes,NaN,NaN,NaN,yes,NaN,NaN
2,1003,10,3,Village 1,Yes,No,No,No,Male,05 to 09,...,NaN,yes,NaN,yes,NaN,NaN,NaN,yes,NaN,NaN
3,1004,10,4,Village 1,Yes,No,No,No,Female,05 to 09,...,NaN,yes,NaN,yes,NaN,NaN,NaN,yes,NaN,NaN
4,1005,10,5,Village 1,Yes,No,No,No,Female,00 to 04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6329,600408,6004,8,Village 3,Yes,No,No,No,Female,05 to 09,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6330,600409,6004,9,Village 3,Yes,No,No,No,Male,00 to 04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6331,600410,6004,10,Village 3,Yes,Yes,No,No,Female,60 or more,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6332,600411,6004,11,Village 3,Yes,No,No,No,Female,05 to 09,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6333,600412,6004,12,Village 3,Yes,No,No,No,Female,00 to 04,...,NaN,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN